
/* Form Control */
.form-control {
    color: #fff !important;
    background-color: #02022d !important;
    border: 1px solid #e9e8e8;
    border-radius: 50px;
}
.form-control:focus {
    color: #fff !important;
    background-color: #02022d !important;
    border-color: #fe00ff;
}
.frm-credit-card-input input {
    background-color: #02022d !important;
    color: #fff !important;
}

#registration .field, #registration .form-control {
    color: #fff !important;
    background-color: #02022d !important;
    border: 1px solid #e9e8e8;
    border-radius: 50px;
}

/* Marketgoo page */
.landing-page .hero h2 {
    font-weight: 400;
}
.landing-page.marketgoo .feature-blocks .block span {
    font-size: 24px;
    font-weight: 500;
}
.landing-page.marketgoo .feature-blocks .block p {
    font-size: 16px;
    font-weight: 400;
}
.landing-page.marketgoo .plan.marketgoo_pro .header h4 {
    color: #fe00ff;
}
.landing-page.marketgoo .plan .header .best-value {
    background-color: #fe00ff;
}
.landing-page.marketgoo .plan .pricing {
    color: #ffffff99;
}
.landing-page.marketgoo .plan ul li span {
    font-weight: 500;
}
.landing-page.marketgoo .plan ul li {
    font-weight: 500;
}
.landing-page.marketgoo .faqs h3 {
    font-weight: 700;
    color: #ffffff;
}
.landing-page .faqs .faq h4 {
    font-weight: 500;
    color: #ffffff;
}
.landing-page .faqs .faq p {
    font-weight: 400;
    color: #ffffff;
}


/* SiteLock Page */
.landing-page.sitelock h2 {
    font-weight: 700;
}
.landing-page.sitelock .plans h2 {
    font-weight: 500;
}
.landing-page.sitelock .plans h3 {
    font-weight: 500;
}
.landing-page.sitelock .plans h4 {
    font-size: 24px;
    font-weight: 700;
}
.landing-page.sitelock .plans .plan .header p {
    font-size: 16px;
    font-weight: 400;
}
.landing-page.sitelock .plans .plan ul li {
    font-size: 16px;
    font-weight: 400;
}
body .landing-page.sitelock .plans .plan .btn:hover {
    background-color: #fe00ff !important;
    border-color: #fe00ff !important;
}
.landing-page.sitelock .features h3 {
    font-size: 24px;
    font-weight: 400;
}
.landing-page.sitelock .features .feature-wrapper h4 {
    font-size: 24px;
    font-weight: 700;
}
.landing-page.sitelock .features .feature-wrapper p {
    font-size: 18px;
    font-weight: 400;
}

body .landing-page.sitelock .features .fas, body .landing-page.sitelock .features .far, body .landing-page.sitelock .emergency .fas, body .landing-page.sitelock .emergency .far {
    font-size: 24px;
}
.landing-page.sitelock .feature-wrapper .content {
    margin-left: 50px;
}
.landing-page.sitelock .emergency h3 {
    font-size: 24px;
    font-weight: 700;
}
.landing-page.sitelock .emergency p {
    font-size: 18px;
    font-weight: 400;
} 
body .landing-page.sitelock .emergency .btn {
    padding: 10px 45px;
}
.landing-page.sitelock .emergency .price {
    font-size: 24px;
    font-weight: 500;
}

.landing-page.sitelock .feature-wrapper .content h4 {
    font-size: 24px;
    font-weight: 700;
} 

.bootstrap-switch.bootstrap-switch-small {
    min-width: 76px;
}