.jkit-menu-container .dropdown-toggle::after {
    content: unset;
}
.jkit-menu-container {
    display: flex;
}
.jkit-menu-container ul#account_items {
    margin-left: 60px;
}
.jkit-menu-container.accounts-items {
    display: flex;
    justify-content: flex-end;
}




/* footer start */


footer.footer .btn {
    background-color: #fe01ff;
    color: #fff;
}
.modal-localisation .item-selector .item.active {
  background-color: #fe01ff;
  color: #fff;
}
.modal-localisation .item-selector .item:hover {
  background-color: #fe01ff;
  color: #fff;
}
footer.footer .btn:hover {
  background-color: #fff;
  color: #fe01ff;
}
.modal-localisation .modal-content {
    background-color: #04043F;
}
.modal-footer .btn-default {
  background-color: #fe01ff;
  color: #fff;
}
.elementor-widget-icon-box .elementor-icon-box-content {
    flex-grow: 1;
}
.elementor-214 .elementor-element.elementor-element-6d84de0 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
}
.elementor-214 .elementor-element.elementor-element-6d84de0 .elementor-icon-box-description {
  font-family: 'Inter', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  color: #FFFFFF;
}
.elementor-214 .elementor-element.elementor-element-02f16bf .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
}
.elementor-214 .elementor-element.elementor-element-02f16bf .elementor-icon-box-description {
  font-family: 'Inter', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  color: #FFFFFF;
}
.elementor-214 .elementor-element.elementor-element-a803fb1 .elementor-icon-box-title {
  margin-bottom: 5px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
}
.elementor-214 .elementor-element.elementor-element-a803fb1 .elementor-icon-box-description {
  font-family: 'Inter', Sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  color: #FFFFFF;
}
.elementor-widget-icon-box.elementor-position-left .elementor-icon-box-icon {
  background: #fe01ff;
  border-radius: 50%;
}
.elementor-214 .elementor-element.elementor-element-7742139 .elementor-social-icon {
  background: #fe01ff;
  border-radius: 50%;
}
.elementor-214 .elementor-element.elementor-element-7742139 .elementor-social-icon:hover {
  background-color: #FFFFFF;
  color: #fe01ff;
}
.elementor-214 .elementor-element.elementor-element-7742139 .elementor-social-icon:hover svg {
  fill: #fe01ff;
}
.e-con>.e-con-inner>.elementor-widget>.elementor-widget-container, .e-con>.elementor-widget>.elementor-widget-container p {
  font-family: "Inter";
  color: #828FA0;
  font-size: 16px;
  font-weight: 400;
  --container-widget-width: 440px;
  --container-widget-flex-grow: 0;
  width: 440px;
  max-width: 440px;
}
.elementor-214 .elementor-element.elementor-element-e147f45 .elementor-heading-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
  color: #fe00ff;
}
.elementor-214 .elementor-element.elementor-element-3e10b0b .elementor-icon-list-item > a {
  font-size: 16px;
  font-weight: 400px;
}
.elementor-214 .elementor-element.elementor-element-3e10b0b .elementor-icon-list-text {
  color: #FFFFFF;
  transition: color 0.3s;
}
.elementor-214 .elementor-element.elementor-element-3e10b0b .elementor-icon-list-item > a:hover {
  color: #fe00ff;
}
.elementor-214 .elementor-element.elementor-element-9c24f08 .elementor-heading-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
  color: #fe00ff;
}
.elementor-214 .elementor-element.elementor-element-005400f .elementor-icon-list-item > a {
  font-size: 16px;
  font-weight: 400px;
}
.elementor-214 .elementor-element.elementor-element-005400f .elementor-icon-list-text {
  color: #FFFFFF;
  transition: color 0.3s;
}
.elementor-214 .elementor-element.elementor-element-005400f .elementor-icon-list-item > a:hover {
  color: #fe00ff;
}

.elementor-214 .elementor-element.elementor-element-ed2cfab {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: #828FA0;
}


/* footer ends */


.card-header {
    background-color: transparent;
    border-bottom: 1px solid #eaeaeb;
    color: #fff;
}
.client-home-cards .card-header {
    background-color: transparent !important;
}
.card-accent-blue, .card-accent-asbestos, .card-accent-asbestos, .promo-banner, .card-accent-emerald, .card-accent-gold, .card-accent-teal {
    border-top: 1px solid #eaeaeb !important;
}
.btn-success, .bg-color-blue, .bg-color-asbestos, .promo-banner.sitelock .btn, .promo-banner.marketgoo .btn, a.btn.btn-default{
    color: #ffffff;
    background-color: #6869FF;
    border-color: #6869FF;
}
.promo-container .header {
    padding: 20px;
    border: 1px solid #eaeaeb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: transparent;
}
button.btn.btn-default.btn-sm.btn-view-details {
    background: #FE00FF;
    border-color: #FE00FF;
    color: #fff;
}
.dropdown-menu{
        background-color: #03022e;
}
.navbar li a:focus, .navbar li a:hover {
    color: #6869ff;
    text-decoration: none;
}
.navbar li a {
    padding: 5px;
}
.dataTables_wrapper table.table-list thead th.sorting_asc, .dataTables_wrapper table.table-list thead th.sorting_desc
 {
    background-color: transparent;
 }
 table.table-list thead th {
    background-color: transparent;
 }
 header.header .main-navbar-wrapper .dropdown-toggle::after {
    display: none;
}
#order-standard_cart .products .product {
    background: #02022d;
}
#order-standard_cart .products .product header {
    background: transparent;
}
#order-standard_cart .cart-sidebar .list-group-item {
    padding: 15px 15px !important;
}
body #order-standard_cart .domain-selection-options .option {
    margin-bottom: 10px;
    background-color: #02022D;
}
#order-standard_cart .field, #order-standard_cart .form-control {
    border: 1px solid #eaeaeb !important;
    background-color: #040521;
        color: #fff;
}
.input-group-text{
    border: 1px solid #eaeaeb !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #6869ff;
    border-color: #6869ff;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #fe00ff;
    border-color: #fe00ff;
}
.btn-primary:active {
    color: #ffffff;
    background-color: #fe00ff;
    border-color: #fe00ff;
}
.btn-primary:focus {
    color: #ffffff;
    background-color: #fe00ff;
    border-color: #fe00ff;
}

.btn-default {
    color: #ffffff;
    background-color: #6869ff;
    border-color: #6869ff;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #fe00ff;
    border-color: #fe00ff;
}
.btn-default:active {
    color: #ffffff;
    background-color: #fe00ff;
    border-color: #fe00ff;
}
.btn-default:focus {
    color: #ffffff;
    background-color: #fe00ff;
    border-color: #fe00ff;
}

.btn-success {
    color: #ffffff;
    background-color: #fe00ff;
    border-color: #fe00ff;
}
.btn-success:hover {
    color: #ffffff;
    background-color: #6869ff;
    border-color: #6869ff;
} 
.btn-success:active {
    color: #fe00ff;
    background-color: #fff;
    border-color: #fff;
}
.btn-success:focus {
    color: #fe00ff;
    background-color: #fff;
    border-color: #fff;
}



#order-standard_cart .font-size-36 {
    color: #fff;
}
#order-standard_cart .addon-promo-container{
    border: 1px solid #eaeaeb !important;
    background-color: #04032e !important;
    color: #ffffff;
}
#order-standard_cart .order-summary {
    background-color: #02022D !important;
    border-bottom: 3px solid #02022D !important;
}
body #order-standard_cart .product-info {
    background-color: #02022D;
    border: 1px solid #eaeaeb;
    border-radius: 0;
    color: #fff;
}
body #order-standard_cart .summary-container{
    background-color:transparent;
}
body #order-standard_cart .view-cart-items {
    margin: 0 0 35px 0;
    border-bottom: 0px solid #6869FF;
    background: #03022e;
}
#order-standard_cart .mc-promo, #order-standard_cart .mc-promo .body, #order-standard_cart .view-cart-tabs {
    margin: 0 0 10px 0;
    background-color: #02022D !important;
    border: 1px solid  #eaeaeb !important;
}
#order-standard_cart .view-cart-tabs .nav-tabs>li.active>a {
    background-color: #6c6aff;
}
#order-standard_cart .view-cart-tabs .nav-tabs {
    padding-top: 15px;
}
input.btn.btn-default.btn-recaptcha.btn-recaptcha-invisible {
    background: #f500ff;
    border-color: #f500ff;
}
body .domain-promo-box {
    background-color: #02022D;
    border: 1px solid #eaeaeb;
}
body header.header .navbar-nav ul a {
    font-size: 15px;
    color: #e9e8e8;
    padding: 15px 20px 15px 20px !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #6869ff;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-item:hover a {
    color: #6869ff !important;
}
body header .dropdown-item {
    padding: 0;
}
body header ul.dropdown-menu.sub-menu {
    border: transparent !important;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #fe00ff;
}
a:hover {
    background-color: transparent;
    text-decoration: none;
    color: #6869ff;
}
a:active {
    background-color: transparent;
    text-decoration: none;
    color: #6869ff;
}
a:focus {
    background-color: transparent;
    text-decoration: none;
    color: #6869ff;
}


/* 20-07-2025 */
input.btn.btn-success.btn-recaptcha.btn-recaptcha-invisible {
    border-right: 3px solid #030520 !important;
}
ul.dropdown-menu.sub-menu li.dropdown-item:active {
    background-color: #02022d !important;
}
ul.dropdown-menu.sub-menu li a.dropdown-item:active {
    background-color: #02022d !important;
}
.btn.btn-order-now {
    background-color: #fe00ff;
    border-color: #fe00ff;
}
.btn.btn-order-now:hover {
    background-color: #6869ff;
    border-color: #6869ff;
    color: #fff;
}
.btn.btn-order-now:active {
    background-color: #fff !important;
    border-color: #fe00ff !important;
    color: #fe00ff !important;
}

.domain-checker-bg {
    background-image: none !important;
    background-color: #02022d;
}
.domain-checker-container .input-group-box {
    background-color: #02022d !important;
}

.btn-warning {
    color: #ffffff;
    background-color: #fe00ff;
    border-color: #fe00ff;
}
.btn-warning:hover {
    color: #fe00ff;
    background-color: #fff;
    border-color: #fff;
} 
.btn-warning:active {
    color: #fe00ff;
    background-color: #fff;
    border-color: #fff;
}
.btn-warning:focus {
    color: #fe00ff;
    background-color: #fff;
    border-color: #fff;
}
.text-warning {
    color: #fe00ff !important;
}
.text-primary {
    color: #6869ff !important;
}
body #order-standard_cart .products .product{
    background: #04043F;
}
body #order-standard_cart .products .product header {
    background: transparent;
}
input:-webkit-autofill,  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #03022e inset;
}
 
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    background-color: #03022e;
    transition: background-color 5000s 0s;
    -webkit-text-fill-color: #fff !important;
}
form#frmConfigureDomains {
    background: #04032e;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eaeaeb;
} 
body #order-standard_cart .view-cart-items .item-domain {
    font-size: 20px;
    color: #f500ff;
}
body #order-standard_cart .btn-remove-from-cart {
    color: #ffffff;
}
body #order-standard_cart .mc-promo .btn-add, body #order-standard_cart .mc-promo .arrow{
    background-color:#6869FF !important;
    border-color:#6869FF !important;
}
body #order-standard_cart .mc-promo .price {
    color: #f500ff !important;
}
body #order-standard_cart .mc-promo .expander {
    color: #ffffff !important;
}
body #order-standard_cart .account-select-container {
    margin: 0;
    border: 1px solid #eaeaeb !important;
    background: #04032d;
}
body form#frmCheckout {
    background: #04032d;
    padding: 20px;
    margin-top: 20px;
}
body .landing-page.sitelock .plans {
    background-color: #030520;
}
body .landing-page.sitelock .plans .plan {
    background-color: #03022e;
}
body .landing-page.sitelock .plans .plan .header {
    background-color: transparent;
}
body .landing-page.sitelock .plans .plan ul li span {
    color: #ffffff;
}
body .landing-page.sitelock .plans .plan ul li{
    color: #ffffff;
    padding: 10px 0px;
}

body .landing-page.sitelock .plans .plan .btn {
    background-color: #6869ff !important;
}
body .landing-page.sitelock .emergency .btn:hover{
    background-color:#fe00ff !important;
    border-color:#fe00ff;
}
body .landing-page.sitelock .features .fas, body .landing-page.sitelock .features .far, body .landing-page.sitelock .emergency .fas, body .landing-page.sitelock .emergency .far {
    color: #6c6aff;
    font-size:40px;
}
body .landing-page.sitelock .emergency {
    background-color: #040521;
}
body .landing-page.sitelock .emergency .btn{
    background-color: #6869ff;
    border-color:#6869ff;
}
.row:has(.landing-page) {
    margin: 0;
}
.landing-page .navbar .navbar-nav > li > a{
    border-bottom: transparent !important;
    color: #fff;
}
nav.navbar.navbar-light.bg-light.navbar-expand-lg.p-0 {
    background: #060540 !important;
}
body .navbar-light .navbar-nav .nav-link:focus, body .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255);
}
.landing-page.sitelock .emergency h2.text-danger {
    color: #6f6bff !important;
}
body .landing-page.marketgoo .video-banner {
    background-color: #030520;
    padding: 40px 0px;
}
body .landing-page.marketgoo .feature-wrapper {
    background-color: #040521;
    color: #fff;
}
body .plan-container {
    float: left;
    width: 100%;
    background: #050522;
    padding: 20px;
    border-radius: 5px;
}
body .landing-page.marketgoo .plan.marketgoo_pro ul {
    background-color: transparent;
    color: #fff;
}
body .btn-info, body .landing-page.marketgoo .plan .btn-signup {
    color: #ffffff;
    background-color: #6869ff;
    border-color: #6869ff;
}
body .btn-info:hover, body .landing-page.marketgoo .plan .btn-signup:hover{
    background-color: #fe00ff;
    border-color: #fe00ff;
    color:#fff;
}
body .landing-page.marketgoo .faqs {
    background-color: #040521;
}
.landing-page.sitelock .feature-wrapper .content {
    margin-left: 59px;
}
body .landing-page.sitelock .plans .plan .header span {
    color: #fe00ff;
}
#stripeCreditCard, #stripeExpiryDate, #stripeCvc, .frm-credit-card-input input {
    background-color: #ffffff00 !important;
    color: #ffffff !important;
}
.invoice-container {
    background-color: #02022D;
    border: 1px solid #eaeaeb;
    color: #fff;
}

.invoice-container .card.bg-default {
    background: #030520;
    border: 1px solid;
    margin-bottom: 30px;
}
.invoice-container td {
    color: #fff;
}
.invoice-container td.total-row {
    background: transparent;
}
.modal .modal-header {
    background-color: transparent;
    color: #fff;   
}
.form-control {
    background-color: transparent;
    border-color: #eaeaeb;
}
.modal-footer .btn-default {
    background-color: #fe01ff;
    color: #fff;
    border-color: #fe00ff;
}
.btn-success:hover, .bg-color-blue:hover, .bg-color-asbestos:hover, .promo-banner.sitelock .btn:hover, .promo-banner.marketgoo .btn:hover, a.btn.btn-default:hover{
    color: #ffffff;
    background-color: #fe00ff;
    border-color: #fe00ff;
}
.md-editor .md-footer, .md-editor>.md-header {
    background: transparent;
}
input.btn.btn-success.btn-recaptcha.btn-recaptcha-invisible:hover {
    color: #ffffff;
    background-color: #6869ff;
    border-color: #6869ff;
}
.client-home-cards .card-header .btn:hover {
    color: #ffffff;
}
.modal-footer .btn-default:hover{
    color: #ffffff;
    background-color: #6869ff;
    border-color: #6869ff;
}
.alert-info.custom-info{
    color: #ffffff;
    background-color: #03022e;
    border-color: #eaeaeb;
}
.bootstrap-switch-small.bootstrap-switch.bootstrap-switch-wrapper {
    border: 1px solid #eaeaeb;
}
.custom-file-label {
    color: #ffffff;
    background-color: #04043f !important;
    border: 1px solid #eaeaeb;
}
.modal-header > .close {
    color: inherit;
    opacity: 1;
}
.modal-header.bg-primary.text-white {
    background-color: transparent !important;
    border-bottom: 1px solid #eaeaeb;
}
.modal-header.bg-primary.text-white {
    background-color: transparent !important;
    border-bottom: 1px solid #eaeaeb;
}
.modal-title {
    margin-top: 0;
}
.btn-success.disabled, .btn-success:disabled {
    color: #ced4da;
    background-color: #28a745;
    border-color: #28a745;
}
#order-standard_cart .btn-checkout {
    padding: 15px 34px;
    width: 100%;
}
#order-standard_cart .btn-checkout.disabled, .btn-primary.disabled, .btn-primary:disabled {
    color: #ffffff;
    background-color: #6869ff;
    border-color: #6869ff;
}
#order-standard_cart .btn-checkout.disabled:hover {
    background-color: #fe00ff;
    border-color: #fe00ff;
}
#modalGeneratePassword .btn-sm.copy-to-clipboard img {
    filter: invert(1);
}

.affiliate-wrapper .table-bordered td, .affiliate-wrapper .table-bordered th {
    border: 1px solid #eaeaeb;
}

.affiliate-wrapper button.btn.btn-lg.btn-danger {
    color: #ffffff;
    background-color: #6869FF;
    border-color: #6869FF;
    margin-bottom: 10px;
}
.affiliate-wrapper button.btn.btn-lg.btn-danger:hover {
    background: #fe00ff;
    border-color: #fe00ff;
}
.affiliate-stat i {
    font-size: 2em;
    color: #f501ff;
}
.affiliate-stat {
    font-size: 1.6em;
    text-align: right;
    background:#060540 !important;
    color: #fff;
}
.affiliate-stat span {
    display: block;
    font-size: 1.4em;
}
footer.footer .btn:hover {
    background-color: #6869FF !important;
    color: #fff;
}
body .landing-page.sitelock .plans .plan .btn:hover {
    background-color: #f501ff !important;
}
.store-promoted-product ul.features li {
    color: #fff;
}
.store-promoted-product .btn-success:hover {
    background-color: #6c6aff;
    border-color: #6c6aff;
}
.responsive-tabs-sm .nav-item a:hover {
    background-color: transparent;
}
#order-standard_cart .btn-checkout:hover {
    background: #6c6aff;
    border-color: #6c6aff;
}
#order-standard_cart .view-cart-items .item:not(:last-child) {
    border-bottom: 1px solid #232348;
}
div#stripeElements iframe {
    filter: invert(1);
}
div#stripeElements .StripeElement--invalid iframe {
    filter: unset;
}
.invoice-summary-table td.total-row {
    background-color: transparent;
}
body {
    background-color: #030520;
}
.marketgoo .faqs h3 {
    color: #fff;
}
.faq h4, .faq p {
    color: #fff;
}
.alert-info {
    color: #ffffff;
    background-color: #6c6aff;
    border-color: #6c6aff;
}
a#continueShopping {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}
#registration .field::placeholder, #registration .form-control::placeholder {
  color: #fff;
}
#registration .field, #registration .form-control{
    background-color: transparent;
    border-color: #eaeaeb;
    color:#FFF;
}
.bootstrap-switch-small.bootstrap-switch.bootstrap-switch-wrapper {
    border: 1px solid #eaeaeb;
}
button:focus {
    outline: none;
}
#registration #stateselect {
    background-color: #03022e !important;
}
#registration .field-icon i {
    color: #ffffff !important;
}

/* Sitelock */
.landing-page.sitelock .hero h2, 
.landing-page.sitelock .content-block h2, 
.landing-page.sitelock .content-block.plans h2, 
.landing-page.sitelock .content-block.features h2,
.landing-page.sitelock .content-block.faq h2{
    font-weight: 700 !important;
    color: #fff !important;
}
.landing-page.sitelock .content-block p {
    font-size: 18px !important;
}
.landing-page.sitelock .content-block.plans h3,
.landing-page.sitelock .content-block.features h3,
.landing-page.sitelock .content-block.emergency h3 {
    font-size: 24px !important;
    font-weight: 400 !important;
    color: #fff !important;
}

.landing-page.sitelock .emergency h2.text-danger {
    font-weight: 700 !important;
}

.landing-page.sitelock .emergency .price.float-left {
    font-weight: 500;
}
.landing-page.sitelock .feature-wrapper .content,
.landing-page.sitelock .feature-wrapper .content {
    margin-left: 50px !important;
}
.landing-page.sitelock .features .feature-wrapper h4,
.landing-page.sitelock .emergency .feature-wrapper h4 {
    font-weight: 500 !important;
    color: #fff !important;
}
body .landing-page.sitelock .features .fas, 
body .landing-page.sitelock .features .far, 
body .landing-page.sitelock .emergency .fas, 
body .landing-page.sitelock .emergency .far {
    color: #6c6aff;
    font-size: 1.7em !important;
}
body .landing-page.sitelock .emergency .btn { 
    padding: 10px 45px;
}

.landing-page.sitelock .plans .plan-comparison h4 {
    font-weight: 700 !important;
}
.landing-page.sitelock .plans .plan-comparison p {
    font-size: 18px !important;
}

/* Marketgoo */
.landing-page.marketgoo .hero h2 {
    font-weight: 500 !important;
}
.landing-page.marketgoo .feature-blocks .block span {
    font-weight: 500 !important;
}
.landing-page.marketgoo .feature-blocks .block p {
    font-size: 18px !important;
    font-weight: 400 !important;
}
.landing-page.marketgoo .plan.marketgoo_pro .header h4 {
    color: #fe00ff !important;
}
.landing-page.marketgoo .plan .header .best-value {
    background-color: #fe00ff !important;
}
.marketgoo .faqs h3 {
    font-weight: 700 !important;
}
.marketgoo .faqs .faq h4 {
    font-weight: 500 !important;
}
#registration form#frmCheckout {
    margin-top: 0;
}
@media (min-width: 992px) {
    body .landing-page.sitelock .plans .plan ul {
        height: 725px;
    }
}